body, html {
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    color: antiquewhite;
  }  
#pagina1{
    background-image: url(IMG_0003.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

#cabecalho {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: flex;
    height: 150px;
    align-content: center;
    align-items: center;
    justify-content:space-between;
    overflow: hidden;
    position:sticky;
    top: 0;   
}
#bt{
    margin-right: 100px;
}
button{
    background: transparent;
    border: transparent;
}
button a{
    color: aliceblue;
}

#cabecalho img{
    width: 200px;
    height: 200px;
    margin-left: 100px;    
    padding: auto;
}
#clock{
    display: flex;
    margin-top: 100px;
    margin-bottom: 300px;
    align-items: center;
    justify-content: center;
}

#meio{
    position: relative;
    display: block;
    color: black;
    height: 300px;
    text-align: center;
    justify-content: center;
    background-color:white;
}

.pagina {
    margin-top: 500px;
    height: 600px;
    background-image: url(IMG_0021.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  #meio h1{
      font-size: 70px;
      padding-top: 50px;
      text-align: center;
  }
  #meio h5, p{
      text-align: center;
  }
.container{
    justify-content: left;
}
.flip-clock-divider span.flip-clock-label{
    color: aliceblue;
}
#in {
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
    padding-left: 8px;
    width: 30px;
    height: 30px;
}
#fa {
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
    padding-left: 8px;
    width: 30px;
    height: 30px;
}
#wh {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    width: 30px;
    height: 30px;
}

.row {
    padding-top: 30px ;
    padding-left:  400px;
    padding-right: 400px;
}
.pagina h3{
    padding-top: 200px;
    text-align: center;
    color: aliceblue;
}

#bt {
    margin-left: 480px;
    text-align: left;
}
.grid input{
    margin-top: 8px;
}
